@import 'node_modules/foundation-sites/scss/util/unit';
$color-palette: (
  White: #ffffff,
    Dark: #000000,
   whiteSmoke: #f4f4f4,
   Orange: #f15921,
   concrete: #d5d4d0,
   dimGray: #333333,
   celeste: #d0d0ce,
   Silver: #c0bfbf,
   snowDrift: #e1e1df,
   snowDriftII: #dfdfdd,
   bahamaBlue: #224f7b,
   cardinal: #ab1142,
   ultraBlue: #1d1d9e,
   deepSea: #137d68,
   darkPurple: #7d1374,
   royalBlue: #5259e5,
   silverSand: #c1c1c0,
   cornFlowerBlue: #5294e5,
   nightRider: #333333,
   Gray: #777777,
   nero: #222222,
   Whisper: #e5e5e5
);

$global-width: 1280px;
$global-font-size: 13px;
$body-background: map_get($color-palette, 'concrete');
$body-font-family: 'IRANSans', Vazir, tahoma, sans-serif;
$header-styles: (
   small: (
      'h1': ('font-size': 22),
      'h2': ('font-size': 18),
      'h3': ('font-size': 16),
      'h4': ('font-size': 15),
      'h5': ('font-size': 14),
      'h6': ('font-size': 13),
   ),
   medium: (
      'h1': ('font-size': 24),
      'h2': ('font-size': 20),
      'h3': ('font-size': 19),
      'h4': ('font-size': 18),
      'h5': ('font-size': 17),
      'h6': ('font-size': 16),
   ),
);
$global-section-border: 4px;
$global-section-padding: rem-calc(20 15 0);
$global-section-margin: 5px;
$global-image-margin: auto;
$global-nopadding-right: 0;
$global-nopadding-left: 0;
$button-palette: (primary: #f15921);
$topbar-background: map_get($color-palette, 'Silver');
$menu-items-padding: 0.7rem .2rem .7rem 1rem;