@import 'node_modules/foundation-sites/scss/util/unit';

$color-palette: (
  White: #ffffff,
    Dark: #000000
   Gray: #777777
);

$global-width: 1280px;
$global-font-size: 13px;
$body-background: map_get($color-palette, 'White');
$body-font-family: 'IRANSans', Vazir, tahoma, sans-serif;
$header-styles: (
   small: (
      'h1': ('font-size': 22),
      'h2': ('font-size': 18),
      'h3': ('font-size': 16),
      'h4': ('font-size': 15),
      'h5': ('font-size': 14),
      'h6': ('font-size': 13),
   ),
   medium: (
      'h1': ('font-size': 24),
      'h2': ('font-size': 20),
      'h3': ('font-size': 19),
      'h4': ('font-size': 18),
      'h5': ('font-size': 17),
      'h6': ('font-size': 16),
   ),
);

.grid-padding-x {
  .grid-padding-x {
    @include xy-gutters($gutters: 10px, $negative: true);
  }
  .grid-container:not(.full)>& {
    @include xy-gutters($gutters: 10px, $negative: true);
  }
  >.cell {
    @include xy-gutters($gutters: 10px, $gutter-type: padding);
  }
}

.grid-x-custom {
  @include breakpoint(small) {
    @include xy-grid-layout(2, '.grid-10', $gutter-type: padding, $gutters: 10px, $gutter-position: top right bottom left);
    @include xy-grid-layout(1, '.grid-9', $gutter-type: padding, $gutters: 10px, $gutter-position: top right bottom left);
    @include xy-grid-layout(1, '.grid-3', $gutter-type: padding, $gutters: 5px, $gutter-position: right left);
    @include xy-grid-layout(1, '.grid-require-2', $gutter-type: margin, $gutters: 5px, $gutter-position: right left);
  }
  @include breakpoint(medium) {
    @include xy-grid-layout(5, '.grid-10', $gutter-type: padding, $gutters: 10px, $gutter-position: top right bottom left);
    @include xy-grid-layout(3, '.grid-9', $gutter-type: padding, $gutters: 10px, $gutter-position: top right bottom left);
    @include xy-grid-layout(1, '.grid-3', $gutter-type: padding, $gutters: 5px, $gutter-position: right left);
    @include xy-grid-layout(2, '.grid-require-2', $gutter-type: margin, $gutters: 5px, $gutter-position: right left);
  }
  @include breakpoint(large) {
    @include xy-grid-layout(10, '.grid-10', $gutter-type: padding, $gutters: 10px, $gutter-position: top right bottom left);
    @include xy-grid-layout(9, '.grid-9', $gutter-type: padding, $gutters: 10px, $gutter-position: top right bottom left);
    @include xy-grid-layout(3, '.grid-3', $gutter-type: padding, $gutters: 5px, $gutter-position: right left);
    @include xy-grid-layout(2, '.grid-require-2', $gutter-type: margin, $gutters: 5px, $gutter-position: right left);
  }
}